<IfModule mod_mime.c>
  AddType application/javascript .js
  AddType application/javascript .mjs
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.js$">
    Header set Content-Type "application/javascript"
  </FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # If the requested filename exists, use it
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Otherwise, redirect all requests to the root index.html
  # This is for SPA routing if Apache is handling the requests
  RewriteRule ^ index.html [L]
</IfModule>
