@import "tailwindcss";
@plugin "daisyui";


/* Hide scrollbar but keep scrolling */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

/* focused checkout: hide nav and footer */
body.checkout-active nav,
body.checkout-active footer {
  display: none !important;
}
